<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" android:versionCode="4" android:versionName="1.3.0" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.xiaopeng.xpspeechservice.ms" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.car.permission.CAR_VENDOR_EXTENSION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="com.xiaopeng.permission.SYSTEM_DELEGATE"/>
    <uses-permission android:name="com.xiaopeng.permission.READ_CONFIGURATION"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="com.xiaopeng.permission.SERVICE"/>
    <uses-permission android:name="com.xiaopeng.permission.BROADCAST"/>
    <uses-permission android:name="com.xiaopeng.permission.DATA_SERVICE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <application android:label="@string/app_name" android:name="com.xiaopeng.xpspeechservice.ms.SpeechApp" android:debuggable="true" android:allowBackup="false" android:supportsRtl="true" android:extractNativeLibs="false" android:usesCleartextTraffic="true" android:networkSecurityConfig="@xml/network_security_config" android:usesNonSdkApi="true">
        <service android:name="com.xiaopeng.xpspeechservice.ms.tts.XpTextToSpeechService">
            <intent-filter>
                <action android:name="android.intent.action.TTS_SERVICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.speech.tts" android:resource="@xml/tts_engine"/>
        </service>
        <activity android:theme="@android:style/Theme.NoDisplay" android:name="com.xiaopeng.xpspeechservice.ms.tts.CheckVoiceData">
            <intent-filter>
                <action android:name="android.speech.tts.engine.CHECK_TTS_DATA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.NoDisplay" android:name="com.xiaopeng.xpspeechservice.ms.tts.GetSampleText">
            <intent-filter>
                <action android:name="android.speech.tts.engine.GET_SAMPLE_TEXT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.xiaopeng.xpspeechservice.ms.tts.EngineSettings">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:name="org.eclipse.paho.android.service.MqttService"/>
        <provider android:name="com.xiaopeng.lib.framework.netchannelmodule.common.ContextNetStatusProvider" android:exported="false" android:authorities="com.xiaopeng.xpspeechservice.ms.netmodule.provider"/>
    </application>
</manifest>
